<!--<html>
<header>
  <title>Products</title>
</header>
<body>
  <div class="wrapper">
    <div class="filter">
      <div class="boxs2 four"></div>
      <div class="boxs2 five"></div>
      <div class="boxs2 six"></div>
    </div>
    <div class="contain">
      <div class="boxs one"></div>
      <div class="boxs two"></div>
      <div class="boxs three"></div>
      <div class="boxs one"></div>
      <div class="boxs one"></div>
      <div class="boxs one"></div>
      <div class="boxs two"></div>
      <div class="boxs three"></div>
      <div class="boxs two"></div>
      <div class="boxs three"></div>
    </div>
  </div>
</body>
</html>-->
<!--
<app-navbar></app-navbar>

<div>
  <input type="text" placeholder="Search by" [(ngModel)]="searchTerm"/>
</div>

<div class="mcontainer" fxLayout="row">

  <app-search-box class="box2" ></app-search-box>

  <div fxLayout="row wrap" fxFlex="flex-start">

    <div class="card-item" *ngFor="let screw of filteredScrewList" >

      <app-screw-card [cardScrew]="screw"></app-screw-card>

    </div>
  </div>
</div>
-->
<!--<div *ngFor="let screw of screwList; index as screwId">

  <h3>
    <a [title]="screw.name + ' details'" [routerLink]="['/screws', screwId]">
      {{ screw.name }}
    </a>
  </h3>
</div>-->

<div>
  <input type="text" placeholder="Search by" [(ngModel)]="searchTerm"/>
</div>

<mat-grid-list cols="4" rowHeight="1:1.5" gutterSize="40px">

  <mat-grid-tile class="tile" *ngFor="let screw of filteredScrewList; index as screwId">

    <app-screw-card class="card" [cardScrew]="screw" [screwId]="screw.id"></app-screw-card>

  </mat-grid-tile>


</mat-grid-list>
