<app-navbar></app-navbar>

<body>
        <div class="container">
                <div class = "pageLayout">
                        <header>
                        <h1>Account Settings</h1>
                        <h2>USERNAME HERE</h2>
                        </header>
                        <br>
                        <br>
                        <a class= "button-link"><button routerLink="/email-change"  type="submit" class="btn">Change Email</button></a>
                        <a class= "button-link"><button routerLink="/password-change" type="submit" class="btn">Change Password</button></a>
                        <a class= "button-link"><button routerLink="/billing-address-change" type="submit" class="btn">Change Billing Info</button></a>  
        
        
                       
                    
                </div>
        
        </div>
</body>

<app-footer></app-footer>