<app-navbar></app-navbar>
    <body>
        <div class="container">
            <header>
                <h1>CHANGE EMAIL</h1>
                <h2>current email</h2>
            </header>
            <div class="form">
                <div class="form-group">
                        <mat-form-field floatLabel = "never"  class="field" hideRequiredMarker>
                          <label>
                            <input matInput class="text" type="text" formControlName="new-email" placeholder="Enter New Email" required>
                          </label>
                        </mat-form-field>
                </div>
                
        </div>
        <button mat-raised-button class="btn" type="submit">Submit</button>
      </div>
      
    </body>


<app-footer></app-footer>